.container{
    height: 800px;
    background-color: aquamarine;
    display: grid;
  /*  grid-template-columns: 100px 100px 100px 100px;*/
  /*grid-template-columns: repeat(6, auto);*/
  /*grid-template-columns: 100px auto 100px;*/
 /* grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 100px 200px;
    /*column-gap: 20px;*/
   /* row-gap: 30px;*/
   grid-gap: 20px;
   justify-content: center;
   align-content: stretch;
   justify-items: stretch;
}
.item{
    border: solid 3px red;
}
.item1{
    /*grid-column-start: 1;
    grid-row-end: 4;
    grid-column: 1/4;*/
    grid-column: 1 / span 3;
}
.item3{
   /* grid-row-start: 2;
    grid-row-end: 2/4;*/
    grid-row: 2 / span 3;
}